section
  width: 100%
  overflow: hidden
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box

section#hero
  background-color: #61c7ff
  min-height: 100vh
  position: relative
  .section-wrapper
    position: absolute
    bottom: 0
    width: 100%
    padding: 0 30px
    box-sizing: border-box
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    max-width: 1200px
    left: 50%
    transform: translateX(-50%)
    -webkit-transform: translateX(-50%)
    -moz-transform: translateX(-50%)
    z-index: 20
    h1
      color: white
      width: calc(60% - 55px)
      font-size: 32px
      display: inline-block
      vertical-align: top
      margin-left: 50px
      strong
        text-decoration: underline
    img
      width: 40%
      display: inline-block
      vertical-align: bottom
      max-width: 350px
  .clouds
    top: 30%
    opacity: .3

section#discover,
section#together,
section#contact
  padding: 80px 30px
  color: #465058
  position: relative
  overflow: auto
  .section-wrapper
    overflow: inherit
    margin: 0 auto
    max-width: 960px
    text-align: center
    img
      width: 45%
      display: inline-block
      vertical-align: middle
    .text-wrapper
      display: inline-block
      width: 48%
      text-align: left
      vertical-align: middle
    h2
      font-size: 30px
      margin-bottom: 25px
    p
      font-size: 18px
      line-height: 28px
      margin-bottom: 10px

section#discover
  background-color: #F8FDFF
  border-bottom: 1px solid #ECF0F3
  img
    margin-left: 5%
    max-width: 420px

section#together
  //background-color: #E8FBFF
  //background-color: #FFC3CB
  img
    margin-right: 5%
    max-width: 380px

section#contact
  text-align: center
  background-color: #56C58A
  color: white
  h2
    font-size: 30px
    margin-bottom: 30px
  .button
    display: inline-block
    border-radius: 100px
    border: 2px solid rgba(255,255,255,.5)
    padding: 14px 30px
    box-shadow: none
    transition: all .3s ease
    -webkit-transition: all .3s ease
    font-size: 20px
    cursor: pointer
    text-decoration: none
    color: white
    &:hover
      border: 2px solid white
