@import "mixins.sass"

@media only screen and (max-width: 736px)
  header
    padding: 0 15px
    height: 50px
    background: white
    .logo
      img
        width: 35px
      .name
        display: none
    &.slideDown
      @include css3(transform, none)
      opacity: 1
    &.slideUp
      @include css3(transform, none)
      opacity: 1
    nav
      display: none
    .menu
      display: inline-block
      position: absolute
      top: 50%
      @include css3(transform, translateY(-50%))
      padding: 15px
      right: 0
      cursor: pointer
      em.hamburger
        width: 24px
        display: block
        position: relative
        overflow: hidden
        margin: 0
        padding: 0
        font-size: 0
        box-shadow: none
        border-radius: none
        border: none
        cursor: pointer
        span
          @include css3(transition, all 0.15s)
          @include css3(border-radius, 5px)
          display: block
          position: relative
          background: #465058
          width: 100%
          height: 3px
          margin-bottom: 5px
          &:last-child
            margin: 0

  nav.for-mobile
    position: fixed
    top: 50px
    left: 0
    right: 0
    bottom: 0
    background: rgba(248, 253, 255, 0.95)
    z-index: 900
    @include css3(transform, none)
    -webkit-transform: translateY(-100%)
    -webkit-transition: -webkit-transform .4s ease-in-out, visibility .4s ease-in-out
    vertical-align: baseline
    visibility: hidden
    ul
      text-align: center
      margin-top: 20px
      li
        display: block
        a
          padding: 15px
          display: block
          text-decoration: none
          font-size: 25px
          color: #465058
          cursor: pointer
          &:hover
            opacity: .7
          &.active
            color: royalblue
            &:hover
              opacity: 1
          &:focus
            outline: none
  .show-nav
    nav.for-mobile
      -webkit-transform: translateY(0)
      visibility: visible
    .menu
      span
        @include css3(transition, all 0.15s)
        &:nth-child(1)
          @include css3(transform, translateY(8px) rotate(45deg))
        &:nth-child(2)
          opacity: 0
        &:nth-child(3)
          @include css3(transform, translateY(-8px) rotate(-45deg))


  .main
    section#discover,
    section#together,
    section#contact
      padding: 50px 30px
      .section-wrapper
        h2
          font-size: 20px
          line-height: 30px
          margin-bottom: 20px
        p
          font-size: 16px
          line-height: 25px

    section#discover,
    section#together
      .section-wrapper
        .text-wrapper
          width: 100%
          display: block
          text-align: center
        img
          margin: 0
          width: 80%
          margin-top: 20px
          &.for-mobile
            display: inline-block !important


    section#hero
      min-height: 100%
      .section-wrapper
        position: static
        @include css3(transform, none)
        h1
          position: absolute
          margin: 0
          top: 32%
          width: 100%
          @include css3(transform, translateY(-50%))
          font-size: 23px
          text-align: center
          left: 0
          padding: 20px
          @include css3(box-sizing, border-box)
          line-height: 30px
          strong
            display: block
            text-decoration: none
        img
          width: 60%
          display: inline-block
          vertical-align: bottom
          max-width: 250px
          bottom: 0
          position: absolute
          left: 40%
          @include css3(transform, translateX(-50%))
          z-index: 100

    section#contact
      .button
        padding: 12px 24px
        font-size: 16px
        line-height: 16px
        i.fa-chevron-right
          font-size: 10px
          line-height: 10px
          margin-left: 8px

  .about
    .container
      margin-top: 50px
      padding: 50px 30px
      h1
        font-size: 20px
        line-height: 30px
        margin-bottom: 20px
      p
        font-size: 16px
        line-height: 25px
